body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    background-color: #656565;
    color: white;
}

.log-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.log-in-form > input{
    margin: 0px 10px 20px 10px;
}

input[type="password"], input[type="email"] {
    border: none;
    background-color: rgb(255, 255, 255);
    height: 25px;
    width: 80%;
}

@media screen and (max-width: 1000px) {
    .log-in-container {
        width: 85%;
    }
}