@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

body {
    display: flex;
    min-height: 90vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

button, input[type="submit"] {
    padding: 10px;
    background-color: #69E13F;
    border: none;
    border-radius: 5px;
    box-shadow: white;
    font-weight: 800;
}

button:hover, input[type="submit"]:hover {
    cursor: pointer;
    zoom: 102%;
}

.main-content {
    width: 80%;
}


@media screen and (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .main-content {
        margin: 50px 0px 100px 0px;
    }
}