.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    margin: 100px 0px 50px 0px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    padding: 20px 15px 20px 15px;
    width: 70%;
}

.group-infos-container {
    display: flex;
    align-items: center;
}

.group-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.group-infos h4 {
    margin: 0px;
}

.group-img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    object-fit: cover;
    margin: 15px 0px 15px 0px;
}

.user-icon {
    height: 20px;
    width: 20px;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b9;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8rem;
}

.number {
    margin: 0px;
}

.members-names-container {
    display: flex;
    flex-direction: column;
    max-height: 140px;
    max-width: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.members-names-container::-webkit-scrollbar {
    background-color: #69E13F;
}



@media screen and (max-width: 1000px) {
    .group {
        width: 100%;
    }

    .search-bar {
        margin: 0px 0px 50px 0px;
    }

    .contact {
        width: 100%;
    }
}