.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

input[type="search"] {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 30px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 50px;
    border: none;
}


.create-new-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
}

.new-group-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.new-group-form input[type="text"] {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 30px;
    padding: 0px 20px 0px 20px;
    margin: 5px;
    border: none;
}

.new-group-form input[type="submit"] {
    padding: 7px;
}


.groups-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.groups-container::-webkit-scrollbar-track {
    opacity: 0;
}

.groups-container::-webkit-scrollbar {
    width: 5px;
}

.groups-container::-webkit-scrollbar-thumb {
    background-color: #69E13F;
    border-radius: 10px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    padding: 20px 15px 20px 15px;
    width: 70%;
    text-align: center;
}

.group-infos-container {
    display: flex;
    align-items: center;
}

.group-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.group-infos h4 {
    margin: 0px;
    font-weight: 900;
    font-size: 1.2rem;
}

.group-img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    object-fit: cover;
    margin: 15px 0px 15px 0px;
}

.user-icon {
    height: 20px;
    width: 20px;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b9b9;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.8rem;
}

.number {
    margin: 0px;
    font-weight: 700;
}

.members-names-container {
    display: flex;
    flex-direction: column;
    max-height: 140px;
    max-width: 150px;
    font-weight: 600;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.members-names-container::-webkit-scrollbar-track {
    opacity: 0;
}

.members-names-container::-webkit-scrollbar {
    width: 5px;
}

.members-names-container::-webkit-scrollbar-thumb {
    background-color: #69E13F;
    border-radius: 10px;
}

.group-actions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 155px;
}

.plus {
    height: 25px;
    width: 25px;
    z-index: 2;
}

.plus:hover {
    cursor: pointer;
    zoom: 105%;
}

.start {
    padding: 7px 10px 7px 10px;
    background-color: #69E13F;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.295);
}

.start:hover {
    cursor: pointer;
    zoom: 102%;
}


/* Popup group options */
.popup-group-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    right: 0px;
    height: 0px;
    width: 0px;
    background-color: #ffffff;
    transition: height 0.4s, width 0.4s;
    overflow-y: auto;
    font-weight: 500;
    border-radius: 10px;
    z-index: 999;
}

.popup-group-options.open {
    height: 400px;
    width: 300px;
    padding: 20px;
    border: solid 1px black;
    font-size: 0.8rem;
}

.popup-group-options::-webkit-scrollbar-track {
    opacity: 0;
}

.popup-group-options::-webkit-scrollbar {
    width: 5px;
}

.popup-group-options::-webkit-scrollbar-thumb {
    background-color: #69E13F;
    border-radius: 10px;
}

.leave-group {
    background-color: #ff0000;
    border-radius: 10px;
    padding: 7px;
    margin: 10px 0px 10px 0px;
}

.leave-group:hover {
    zoom: 101%;
    border: solid 1px black;
    cursor: pointer;
}

.contact-group-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 40px;
    font-size: 1rem;
    background-color: #F9F9F9;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    margin: 10px 0px 10px 0px;
}

.add-user-group {
    height: 30px;
    width: 30px;
}

.add-user-group:hover {
    zoom: 101%;
    cursor: pointer;
}

.overlay-groups {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
}

.overlay-groups.active {
    opacity: 1;
    pointer-events: auto;
}



@media screen and (max-width: 1000px) {
    .main-content {
        margin-top: 50px;
    }

    h1 {
        display: none;
    }
    
    input[type="search"] {
        margin: 0px 0px 50px 0px;
    }

    .group {
        width: auto;
        padding: 20px 15px 20px 40px;
    }

    .group:hover {
        cursor: pointer;
        zoom: 101%;
    }

    .group-infos {
        margin: 10px;
    }

    .members-names-container, .start {
        display: none;
    }

    .plus {
        transform: translateY(-20px) translateX(15px);
    }

    .popup-group-options.open {
        right: -50px;
    }
}