.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;
}

.user-marker-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px #69E13F;
}

.map-loading-icon {
    height: 70px;
    width: 70px;
    animation: rotate 5s linear infinite;
    z-index: 999;
}


@media screen and (max-width: 1000px) {

    .main-content {
        margin: 10px 0px 100px 0px;
        width: 95% !important;
    }

    #map {
        width: 100vw;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}